<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="Utilites.TestNgListener"/>
        <listener class-name="Utilites.ExtentManager"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="D:/Intelli workspace/POMwithTestNG/test-output">
        <classes>
            <class name="DemoblazeTest.BaseTest"/>
            <class name="DemoblazeTest.MainTest"/>
        </classes>
    </test>
</suite>